<html>
<head>

</head>


<body>
	
	<script type="text/template" class="newsfeed-template">
		<% _.each(articles, function(article){   %>
		<li>
			<a href="<%= article.storyURL %>" target="_blank" id="<%= article.cat %>"><cat><%= article.cat %></cat></a>
			<h1><%= article.hed %></h1>
		</li>
		<% }); %>
	</script>
	
	<script type="text/template" class="reader-template">
		<div class="readerclose">x</div>
		<div class="readerhead">
			<h1><%= thisArticle.hed %></h1><br>
			<div class="tags">
				<h2><a href="<%= thisArticle.storyURL %>" target="_blank">View On Reuters</a></h2>
				<h3><a href=""><%= thisArticle.date %></a></h3>
				<div class="social-icons">
					<img src="style/img/twitter.png" id="twitter" title="Tweet this article" alt="Tweet this article">
					<img src="style/img/instapaper.png" id="instapaper" title="Save to Instapaper" alt="Save to Instapaper">
					<img src="style/img/mail.png" id="mail" title="E-mail this article" alt="E-mail this article">
					<img src="style/img/copy.png" id="copy" title="Copy url" alt="Copy url">
				</div>
				<br>
			</div>
		</div>
		<div class="readerkeys">
			<% _.each(thisArticle.keywords, function(key){   %>
				<p>
					<%= key %>
				</p>
			<% }); %>
		</div>
		<div class="readerimg">
			<img src = "<%= thisArticle.img %>" class="img_thumb">
		</div>
		<div class="readerbody">
			<% _.each(thisArticle.body, function(paragraph){   %>
				<p>
					<%= paragraph %>
				</p>
			<% }); %>
		</div>
		<div class="url"></div>
	</script>

	<div class="location"></div>


	<!-- navbar -->
	<div class="nav">
				<form>
					<p id="showMeLabel">Show me </p> 
					
					<select id="newsType">
						<option id="All" selected>the most read</option>
						<option id="Arts" >arts + culture</option>
						<option id="Business">business</option>
			<!-- 			<option id="Education">education</option> -->
						<option id="Entertainment">entertainment</option>
						<option id="Environment" >environmental</option>
			<!-- 			<option id="Food">food</option> -->
						<option id="Health">health</option>
						<option id="Lifestyle">lifestyle</option>
						<option id="New York">New York</option>
						<option id="Media">media</option>
						<option id="Money">money</option>
						<option id="Politics">political</option>
						<option id="Science">science</option>
						<option id="Sports">sports</option>
						<option id="Tech">technology</option>
			<!-- 			<option id="Travel">travel</option> -->
						<option id="United States">United States</option>
						<option id="oddly enough">Oddly Enough</option>
						<option id="World">world</option>
					</select>
					
					<p id="newsLabel"> news </p>
					<p id="inLabel"> in </p>
					
					<select id="locationType">
						<option id="here">right here</option>
						<option id="nabe" selected>this neighborhood</option>
						<option id="boro">this borough</option>
						<option id="city" >New York City</option>
					</select>
					
					<p id="fromTimeLabel">from the last </p>
					
					<select id="timeType">
						<option id="1">day</option>
						<option id="3" selected>three days</option>
						<option id="7" >week</option>
						<option id="30" >month</option>
					</select>
				</form>
			<div id="loading_feed"></div>
			<div id="searchbar"><p id="icon">&#xf002;</p><input id="searchval" name="searchval" autocomplete="on"></div>
	</div>
	
	<ul id="articleList"></ul>
	
	<div class="reader"></div>
	


	

	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/fingerprint/fingerprint.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
	<script src="app.js"></script>

</body>
