<html>
<head>

<title>Bodeg.ga</title>

<link rel="icon" type="image/x-icon" href="style/img/fav.ico" />
<link rel="apple-touch-icon" href = "style/img/fav.ico" />
<link rel="stylesheet" href="style/normalize.min.css">
<link rel="stylesheet" href="style/main.css">
<link rel="stylesheet" href="style/fonts/font-awesome/css/font-awesome.min.css">

</head>


<body>
	
	<!--templates-->
	<script type="text/template" class="newsfeed-template">
		<% _.each(articles, function(article){   %>
		<li>
			<h2><a href="<%= article.storyURL %>" target="_blank" id="<%= article.cat %>"><cat><%= article.cat %></cat></a></h2>
			<h1><%= article.hed %></h1>
		</li>
		<% }); %>
	</script>
	
	<script type="text/template" class="twitterfeed-template">
		<% _.each(tweets, function(tweet){   %>
		<li class = "tweet">
			<h2><a href="<%= tweet.namelink %>" target="_blank"><%= tweet.name %></a></h2>
			<h1><a href="<%= tweet.tweetlink %>" target="_blank"><%= tweet.tweet %></a></h1>
		</li>
		<% }); %>
	</script>
	
	<script type="text/template" class="noresults-template">
		<li>
			<h4><%= msg.body %></h4>
		</li>
	</script>

	<script type="text/template" class="notweets-template">
		<li class="tweet" id="notweets">
			<h1><%= msg.body %></h1>
		</li>
	</script>
	
	<script type="text/template" class="reader-template">
		<div id="top"></div>
		<div class="readerhead">
			<h1><%= thisArticle.hed %></h1><br>
		</div>
		<div class="tags">
			<h2><a href="<%= thisArticle.storyURL %>" target="_blank">View On Reuters</a></h2>
			<h3><a href=""><%= thisArticle.date %></a></h3>
			<br>
		</div>		
		<div class="readerkeys">
			<% _.each(thisArticle.keywords, function(key){   %>
				<p><a href><%= key %></a></p>
			<% }); %>
		</div>
		<% if (thisArticle.img != null) { %>
			<div class="readerimg">
					<div class="img_thumb"><img src = "<%= thisArticle.img %>"></div>
			</div>
		<% } %>
		<ul class="social-icons">
					<li class="readerclose"><img src="style/img/close.png"></li>
					<li><img src="style/img/twitter.png" id="twitter" title="Tweet this article" alt="Tweet this article"></li>
					<li><img src="style/img/instapaper.png" id="instapaper" title="Save to Instapaper" alt="Save to Instapaper"></li>
					<li><img src="style/img/mail.png" id="mail" title="E-mail this article" alt="E-mail this article"></li>
					<li><img src="style/img/copy.png" id="copy" title="Copy url" alt="Copy url"></li>
				</ul>
		<div class="readerbody">
			<% _.each(thisArticle.body, function(paragraph){   %>
				<p>
					<%= paragraph %>
				</p>
			<% }); %>
		</div>
		<div class="url"></div>
	</script>
	
	<!--landing-->
	<div class="landing">
		<div id="nabeload">
			Welcome. Hold on a sec while we figure out where you are.
		</div>
		
		<select class="location">
			<option value="#">Are you near any of these?</option>
			<option value="home">Home</option>
			<option value="work">Work</option>
			<option value="school">School</option>
			<option value="#"> </option>
		</select>
	</div>
	
	<!--blur-->
	<div id="blur"></div>
		
	<!--instapaper log-in-->
	<div class="ip_login">
		<div id="ip_login_close">x</div>
			<p>Please log-in to Instapaper to save this article.</p>
			<form class="ip_login_form">
			  <label for="ip_login_name">Username:</label>
			  <input id="ip_login_name" type="text" name="name"><br>
			  <label for="ip_login_pass">Password:</label>
			  <input id="ip_login_pass" type="password" name="pass"><br>
			  <input type="submit" id="ip_login_submit">
			</form>
		</div>
	</div>
	
	<!-- header -->
	<div class="logo">
		<h1>BDGA</h1>
	</div>
	
	<!-- navbar -->
	<div class="nav">
				<form>
					<p id="showMeLabel">Show me </p> 
					
					<select id="newsType">
						<option id="All" selected>The Most Read</option>
						<option id="arts" >Arts + Culture</option>
						<option id="business">Business</option>
						<!-- <option id="Education">education</option> -->
						<option id="entertainment">Entertainment</option>
						<option id="environment" >Environmental</option>
						<!-- <option id="Food">food</option> -->
						<option id="health">Health</option>
						<option id="lifestyle">Lifestyle</option>
						<option id="new york">New York</option>
						<option id="media">Media</option>
						<option id="money">Money</option>
						<option id="politics">Political</option>
						<option id="science">Science</option>
						<option id="sports">Sports</option>
						<option id="tech">Technology</option>
						<!-- <option id="Travel">travel</option> -->
						<option id="united states">United States</option>
						<option id="oddly enough">Oddly Enough</option>
						<option id="world">World</option>
					</select>
					
					<p id="newsLabel"> news </p>
					<p id="inLabel"> in </p>
					
					<select id="locationType">
						<option id="here">Right Here</option>
						<option id="nabe" selected>This Neighborhood</option>
						<option id="boro">This Borough</option>
						<option id="city" >New York City</option>
					</select>
					
					<p id="fromTimeLabel">from the last </p>
					
					<select id="timeType">
						<option id="1">Day</option>
						<option id="3" >Three Days</option>
						<option id="7" >Week</option>
						<option id="30" selected>Month</option>
					</select>
				</form>
			<div id="loading_feed"><i class="fa fa-spinner fa-spin"></i></div>
	</div>

	<!-- sidebar -->
	<div class = "readersidebarWrapper">
		<div class ="readersidebar">
			
			<div id="shownews-active"><img src="style/img/paper.png"></div>
			<div id="showtwitter"><img src="style/img/bubble.png"></div>
			<div id="showsearch"><img src = "style/img/search.png"></div>
			<div id="sidebar-hide"><img src="style/img/hide.png"></div>
			<div id="sidebar-show"><img src="style/img/show.png"></div>
			
			<!-- feed -->
			<section class="newsWrapper-active">	
				<div class="newsFeed">					
					<ul id="articleList">

					</ul>
				</div>
			</section>
			
			<!-- twitter -->
			<section class="twitterWrapper">	
				<div class="twitterFeed">					
					<ul id="tweetList">

					</ul>
				</div>
			</section>
			
			<!-- search -->
			<section class="searchWrapper">	
				<div class="searchFeed">
					<div id="searchbar"><input id="searchval" name="searchval" value="Search" autocomplete="on"></div>
					<ul id="searchList">

					</ul>
				</div>
			</section>			

		</div>
	</div>

	<!-- body -->
	<section class="body">
	
		<!-- reader -->
		<div class="reader">
		</div>  
	

	</section>
	
	<!-- copyURL -->
	<div id="twlo"></div>


	<!--JS-->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/fingerprint/fingerprint.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
	<script type="text/javascript" src="bower_components/zeroclipboard/ZeroClipboard.js"></script>
	<script src="app.js"></script>
	<script>
	$( document ).ready(function() {
	   app.init.home();
	});
	</script>
	
	<div id="ruler"></div>

</body>
