

/*--fonts--*/

@font-face {
	font-family:"Code";
	src:url(fonts/CODEBold.otf);
}

@font-face {
	font-family: "Oswald";
	src:  url(fonts/Oswald-Regular.ttf);
}

@font-face {
	font-family: "FontAwesome";
	src:  url(fonts/fontawesome-webfont.ttf);
}


#ruler { 
	visibility: hidden; 
	display: inline-block;
	white-space: nowrap;
	width: auto;
	padding: 0px 5px 9px 5px;
	text-transform: lowercase;
	font: small-caps 20px "oswald";
	letter-spacing: 1.5px;
}

#top {
	position: absolute;
	top: 0px;
	visibility: hidden;
}
/*--body--*/

body {
	background-color:#e2e0df;
	background-image: url("img/map.png");
	background-repeat:  no-repeat;
	background-position:right top;
	background-size: Auto 100%;
}

/*--lading--*/

.landing {

	width: 30%;
	position:  relative;
	top:  25%;
	left:  35%;

	z-index: 50;

	padding: 5px;
	
	color: #fff;
	font: small-caps 25px "Oswald", Lucida, Verdana, sans-serif;
	text-align: center;
	text-transform: lowercase;
}

#blur {
	opacity:    0.95; 
	background: #1b273d; 
	width:      100%;
	height:     100%; 
	z-index:    1;
	top:        0; 
	left:       0; 
	position:   fixed; 
}

#blur-hide {
	display: none;
}

#twlo {
	display: none;
}


#nabeload {
	margin: 10px auto 7px;
	width: 75%;	
}

.location {
	opacity: 0;
	padding: 2px 28px 7px 7px;
	margin-bottom: 10px;

	color:  #fff;
	font: 20px Oswald;
	text-decoration: capitalize;
	text-align: center;
	
	border:  none;
	background: 1px;
	cursor: pointer;
}

.location select:focus {
	outline:0px none transparent;
	-moz-outline:0 none transparent;
}


/*--logo--*/

.logo {
	background-color: #0392bc;
	width: 130px;
	height: 45px;
	position: absolute;
	top: 20px;
}

.logo h1 {
	font: 40px Code;
	color: #ffffff;
	padding-left: 15px;
	margin-top: 5;
/* 	padding-top: 4px; */
}


/*--nav--*/

.nav {
	background-color:  #1b273d;
	position:  fixed;
	top: 80px;
	width:  100%;
	color: #ffffff;
}

.input {
	font-size: 4px;
}

.nav p {
	float:  left;
	margin: 10px 0 0 5px;

	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
}

#showMeLabel {
	margin-left: 15px;
}

.nav select {
	float:  left;
	width: auto;
	margin: 0 0 0 8px;
	/* padding: 0px 5px 9px 2px; */
	padding: 0px 5px 9px 5px;
	text-transform: lowercase;
	font: small-caps 20px "oswald";
	letter-spacing: 1.5px;
	color: #ffffff;
	
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-overflow: '';
	background: transparent;
	cursor: pointer;
	text-decoration: underline;
}

.nav select:checked {
	text-transform: capitalize;
}

.nav select:focus {
	outline:0px none transparent;
}

.nav select:hover {
	background-color:  #0392bc;
}

#loading_feed{
	float:  left;
	color: #0392bc;
	font-size: 30px;
	margin: 4px 0 0 10px;
}




/*--reader--*/

.reader {
	background-color:  white;
	height: 80%;
	width: 70%;
	position:  fixed;
	top: 127px;
	right: 5px;
	overflow-x: hidden;
	overflow-y:  scroll;
	-webkit-overflow-scrolling: touch;

	-webkit-transition:slide 0.5s ease-in-out;
	-moz-transition:slide 0.5s ease-in-out;
	-o-transition:slide 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;

}

.reader-wide {
	background-color:  white;
	height: 80%;
	width: 95%;
	position:  fixed;
	top: 127px;
	right: 5px;
	overflow-y:  scroll;
	-webkit-overflow-scrolling: touch;
	
	-webkit-transition:slide 0.5s ease-in-out;
	-moz-transition:slide 0.5s ease-in-out;
	-o-transition:slide 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}

.reader-hide {
	display: none;
}

.readerhead h1 {
	width: 90%;
	padding: 10px 0 0 10px;
	font: 38px Oswald, sans-serif;
	text-transform: uppercase;
	letter-spacing: -1px;
	word-spacing: 10px;
}

.tags {
	margin-left: 10px;
	margin-bottom: -11px;
	width: 200px;
}

.tags h2{
	margin-top:  -50px;
}

.tags h2 a{
	background-color: #0392bc;
	padding:  3px;
	float:  left;
	
	font:  15px Oswald, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	
}

.tags h3 a{
	background-color: #0392bc;
	padding:  3px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
	float:  left;
	
	font:  15px Oswald;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;

	cursor: default;
}

.social-icons {
	list-style-type: none;
	position: fixed;
	top: 120px;
	right: 19px;
	width: 10px;
	
}

.social-icons img {
	float: right;
	width:  21px;
	margin: 3px 5px 0px 0px;
	cursor: pointer;
}

.social-icons img:hover{
	background-color: #0392bc;
}


.readerkeys {
	width: 100%;
	height: auto;
	display: block;
	cursor: pointer;
	margin-left: 10px;
	padding-bottom: 15px;
	
}

.readerkeys p a{
	background-color:  #1b273d;
	padding: 3px;
	
	float:  left;
	margin-right: 5px;
	margin-top: -22px;
	margin-bottom: 30px;
	
	font:  15px Oswald;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;

}

.readerkeys p a:hover{
	background-color: #0392bc;
}

.readerimg {
	height: 125px;
	padding: 0 0 0 10px;
}

.img_thumb p{
	display:  none;
}

.readerimg img{
	height: 100px;
	float: left;
	clear: left;
	margin-top: -10px;
	border: 10px solid #1b273d;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;	
}

.img_large img{
	border: 6px solid #1b273d;
	margin-bottom: 20px;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
}

.imgGallery {
	display:  none;
}

.readerbody {
	margin: 60px 85px 0px 85px;
	padding: 0 10px 50px;
	border-top: solid 2px black;		
}

.readerbody p {
	font: 16px Arial, sans-serif;
}

.url {
	display: none;
}


/*--sidebar--*/

.readersidebarWrapper {
	
	width: 28%;
	height: 76%;
	overflow: hidden;
	margin: 0 auto;
}

.readersidebar {
	position:  fixed;
	top: 127px;
	left:  5px;
	width: 28%;
	height: 80%;
	background-color: rgba(128, 128, 128, 0.5);
	
	-webkit-transition:slide 0.5s ease-in-out;
	-moz-transition:slide 0.5s ease-in-out;
	-o-transition:slide 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	
}

.readersidebar-hide {
	position:  fixed;
	top: 127px;
	left:  5px;
	width: 35px;
	height: 80%;
	background: rgba(128, 128, 128, 0.5);
	
	overflow: hidden;
	cursor: pointer;
	
	-webkit-transition:slide 0.5s ease-in-out;
	-moz-transition:slide 0.5s ease-in-out;
	-o-transition:slide 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	
}

.readersidebar-hide .newsFeed{
	width: 0%;
}

#shownews-active {
	float:  left;
	margin: 6px 0 0 5px;
	width:  25px;
	height: 25px;
	background-color:  #0392bc;
	-moz-box-shadow: 0 0 4px #0392bc;
	box-shadow: 0 0 4px #070707;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

}

#shownews-active img{
	width: 18px;
	padding: 6px 4px 0px 4px;
	
}

#shownews {
	
	float:  left;
	margin: 6px 0 0 5px;
	width:  25px;
	height: 25px;
	background-color:  #070707;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#shownews img{
	width: 18px;
	padding: 6px 4px 0px 4px;
}

#showtwitter-active {
	float: left;
	margin: 34px 0 0 -25px;
	width: 25px;
	height: 25px;
	background-color:  #0392bc;
	-moz-box-shadow: 0 0 4px #0392bc;
	box-shadow: 0 0 4px #070707;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#showtwitter-active img{
	width: 20px;
	padding: 2px 0px 0px 3px;
}

#showtwitter {
	
	float: left;
	margin: 34px 0 0 -25px;
	width: 25px;
	height: 25px;
	background-color:  #070707;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#showtwitter img{
	width: 20px;
	padding: 2px 0px 0px 3px;
}

#showsearch-active {
	float: left;
	margin: 62px 0 0 -25px;
	width: 25px;
	height: 25px;
	background-color:  #0392bc;
	-moz-box-shadow: 0 0 4px #0392bc;
	box-shadow: 0 0 4px #070707;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#showsearch-active img{
	width: 32px;
	padding: 4px 0px 0px 0px;
	margin: -8px 0px 0px -4px;
}

#showsearch {
	
	float: left;
	margin: 62px 0 0 -25px;
	width: 25px;
	height: 25px;
	background-color:  #070707;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#showsearch img{
	width: 32px;
	padding: 4px 0px 0px 0px;
	margin: -8px 0px 0px -4px;
}


#sidebar-hide {

	float: left;
	margin: 90px 0 0 -25px;
	width: 25px;
	height: 25px;
	background-color: #1a273d;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
}

#sidebar-hide img {
	width: 20px;	
	padding: 2px 0px 0px 2px;
}

#sidebar-show {

	float: left;
	margin: 90px 0 0 -25px;
	width: 25px;
	height: 25px;
	background-color: #1a273d;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: none;
}

#sidebar-show img {
	width: 20px;	
	padding: 2px 0px 0px 5px;
	
}

.newsWrapper{
	display: none;
}

.newsWrapper-active{
	visibility: visible;
}

.newsFeed {
	height: 98%;
	float: right;
	margin: -110px 0px 0px 38px;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	display: none;
}

.newsFeed ul{
	list-style-type: none;
	width:  99%;
	padding: 0px 0px;
	margin-top: 0;
}

.newsFeed li{
	padding: 1px 0;

	margin-bottom: 3px;
	background-color: #1b273d;
	cursor: pointer;
}

.newsFeed li h2 a{
	font:  13px 'Code', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color:  #dddddf;
	background-color: #04a7d9;
	
	float:  left;
	margin: -8px 5px 9px 0;
	padding: 4px 2px 2px 10px;
}

.newsFeed li h1{
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color:  #dddddf;
	text-transform: capitalize;
	margin-top: -7px;
	margin-bottom: 5px;
	padding: 0 8px 9px;
	clear: both;
}

.newsFeed li h4 {/* no results */
	margin: 5px;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color:  #dddddf;
	text-transform: none;
}

.twitterWrapper{
	display: none;
}

.twitterWrapper-active{
	visibility: visible;	
}

.twitterFeed {
	height: 98%;
	float: right;
	margin: -114px 0px 0px 38px;
	overflow-y: hidden;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.twitterFeed ul{
	list-style-type: none;
	width:  99%;
	padding: 0px 0px;
	margin-top: 0;
}

.twitterFeed li{
	padding: 1px 0;
	margin-top: 7px;
	margin-bottom: 3px;
	background-color: #1b273d;
	cursor: pointer;
}
.twitterFeed li h2 a{
	font:  13px 'Code', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color:  #dddddf;
	background-color: #04a7d9;
	
	float:  left;
	margin: -8px 5px 9px 0;
	padding: 4px 2px 2px 10px;
}

.twitterFeed li h1 {
	padding: 30px 8px 9px;
	margin: -5px 2px 2px 2px;
	
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color:  #dddddf;
	text-decoration: none;
}

.twitterFeed li h1 a {	
	color:  #dddddf;
	text-decoration: none;
}

#tweetList li h4 {/* no results */
	margin: 5px;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color:  #dddddf;
	text-transform: none;
}

#notweets {
	margin-top: 120px;
}


.searchWrapper{
	display: none;
}

.searchWrapper-active{
	visibility: visible;
}

.searchFeed {
	height: 98%;
	margin: 0px 0px 0px 38px;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

#searchbar {
	width: 99%;
	height: 35px;
	margin: 5px 3px 5px 0px;
	border-radius: 6px;
	background-color: #1b273d;
	cursor: pointer;
}

#searchval {
	width:  100%;
	height:  100%;
	padding: 0px 0px 0px 5px;
	background-color: transparent;
	border: none;
	
	font: 15px 'Arial', sans-serif;
	font-style: italic;
	text-align:  left;
	
	color: #1b273d;
	color: #ffffff;
}

input:focus {
	outline: none;
}

.searchFeed ul{
	list-style-type: none;
	width:  99%;
	padding: 0px 0px;
	margin-top: 0;
}

.searchFeed li{
	padding: 1px 0;

	margin-bottom: 3px;
	background-color: #1b273d;
	cursor: pointer;
}

.searchFeed li h2 a{
	font:  13px 'Code', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color:  #dddddf;
	background-color: #04a7d9;
	
	float:  left;
	margin: -8px 5px 9px 0;
	padding: 4px 2px 2px 10px;
}

.searchFeed li h1{
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color:  #dddddf;
	text-transform: capitalize;
	margin-top: -7px;
	margin-bottom: 5px;
	padding: 0 8px 9px;
	clear: both;
}


#searchList li h4 {/* no results */
	margin: 5px;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color:  #dddddf;
	text-transform: none;

};




/*--social--*/

.social {
	
}

.ip_login {
	position: relative;
	z-index:    5;
	margin: 200px auto;
	
	

	width: 310px;
	height: 200px;
	padding: 0 16px 45px;
	
	color:  #fff;
	font: small-caps 20px "oswald";
	text-transform: lowercase;
	text-align: center;
	
	background: #1b273d; 
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.25);
	
	display: none;

}

#ip_login_close{
	float:  right;
	margin-top: -7px;
	margin-right: -12px;
	cursor: pointer;
}

.ip_login p{
	text-decoration: underline;
	margin-bottom: 3px;
}

.ip_login label{
	float:  left;
}

.ip_login input {
	float:  left;
	width:  100%;
}

#ip_login_submit {
	margin-top: 15px;
	background:  transparent;
	color: #fff;
	font: small-caps 18px "oswald";
	border-style: solid;
}

.url_test {
	
	width: 200px;
	
}

.hide_url {
	display: none;
}


/*--other--*/
.toast-success {
  background-color: #1b273d;
}

-webkit-scrollbar { 
    display: none; 
}